body {
    font-size: 20px;
    margin: 20px;
}
h1 {
    font-size: 30px;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 20px 0;
}

@media screen and (min-width: 800px) {
    body {
        background: yellow;
        font-size: 40px;
        margin: 30px;
    }

    h1 {
        font-size: 50px;
    }

    img {
        max-width: 100%;        
    }

    figure {
        margin: 20px 0;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        float: left;
        padding: 1px;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background: violet;
        font-size: 30px;
        margin: 40px;
        max-width: 1300px;
    }

    h1 {
        font-size: 50px;
    }

    img {
        max-width: 100%;        
    }

    figure {
        margin: 20px 0;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        float: left;
        padding: 1px;
    }
}
